# Basic arithmatic operations

In [3]:
4+1 # addition

5

In [4]:
2*3 # multiplication

6

In [5]:
2/5 # division

0.4

In [8]:
4**2 # exponentiate

16

In [9]:
6//3 # floor division

2

In [11]:
print(4 % 2) # modulus
print(9 % 2)

0
1

In [12]:
(2+3) * (5-3)

10

# variables in python

In [13]:
@_hj = 5 # can not start with special character or number

SyntaxError: invalid syntax (<ipython-input-13-feddf0689869>, line 2)

In [14]:
4 = 5 # can not start with special character or number

SyntaxError: can't assign to literal (<ipython-input-14-667480b6e489>, line 1)

In [16]:
x = 5
y = 3

In [18]:
z = x+y
z

8

# strings

In [19]:
"It's easy"

"It's easy"

# Printing

In [22]:
x = "python"

In [23]:
print(x)

python

In [24]:
x # small difference in the output

'python'

In [25]:
x = 25
y = "Harry"

In [27]:
print("My number is {} and my name is {}".format(x,y))

My number is 25 and my name is Harry

# Python data types

In [28]:
#1. Text type = str(strings)
#2. Numeric type = int(integer), float, complex
#3. Sequence type = list, tuple, range
#4. Mapping type = dict(dictionaries)
#5. Set type = set, frozenset
#6. Boolean type = bool
#7. Binary type = bytes,bytearray, memoryview

In [29]:
# getting the data type
x = 5
print(type(x)) #"type" to check the data type

<class 'int'>

In [31]:
x = "hi"
print(type(x)) #string

<class 'str'>

In [32]:
x = 20
print(type(x)) #integer

<class 'int'>

In [33]:
x = 10.5
print(type(x)) #float

<class 'float'>

In [35]:
x = 1j
print(type(x)) #complex

<class 'complex'>

In [49]:
x = ["jar","bottle","pipe",20,20.5]
print(x[0])
print(x[1])
print(x[-2])
print(type(x)) #list, we need to write list in "[]"
x[2] = "btl" #lists are mutable
print(x)

jar
bottle
20
<class 'list'>
['jar', 'bottle', 'btl', 20, 20.5]

In [47]:
x = ("jar","bottle","pipe",20,20.5)
print(x[0])
print(x[1])
print(x[-2])
print(type(x)) #tuple, we need to write tuples in "()" 
x[2] = "btl" #tuples are immutable

jar
bottle
20
<class 'tuple'>

TypeError: 'tuple' object does not support item assignment

In [40]:
x = range(6)
print(x) #range
print(type(x)) #range

range(0, 6)
<class 'range'>

In [55]:
x = {"ID":1100,"Name":"Harry","Occupation":"Business"}
#need to write dictionaries in "{}", ID, Name and Occupation refers to key's
print(x)
print(x["ID"]) #need to index with keys
print(x["Occupation"]) #need to index with keys

{'ID': 1100, 'Name': 'Harry', 'Occupation': 'Business'}
1100
Business

In [60]:
x = True
y = False
print(type(x)) #boolean
print(type(y)) #boolean

<class 'bool'>
<class 'bool'>

In [61]:
# strings in detail

In [64]:
x = "hello world"
print(x)

hello world

In [65]:
# multiline string
y = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(y)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [67]:
# strings are arrays
x = "hello, world"
print(x[1])
print(x[0]) #first character has the position 0

e
h

In [69]:
# slicing to return range of characters
print(x[2:7])

llo,

In [70]:
# negative indexing
print(x[-1])

d

In [71]:
print(x[-7:-3])

, wo

In [72]:
# checking string length
print(len(x))

12

In [73]:
# remove white spaces
a = " Hello, World! "
print(a.strip())

Hello, World!

In [74]:
print(a.lower()) # convert string to lower ase
print(a.upper()) # convert string to upper ase
print(a.replace("H","J")) # replacing the character

 hello, world!
 HELLO, WORLD!
 Jello, World!

In [75]:
x = "Name-John"
print(x.split("-")) # splits the string using delimiter

['Name', 'John']

In [76]:
# check the character is present or not
txt = "The rain in Spain stays mainly in the plain"
print("ain" in txt) #there is not in check is also available

True

In [79]:
# string concatenation
a = "Hi"
b = "All"
print(a+b)
print(a+" "+b)

HiAll
Hi All

In [81]:
age = 36
txt = "My name is John, I am "
print(txt,age)

My name is John, I am  36

In [82]:
age = 36
txt = "My name is John, I am {}".format(age) # using format method
print(txt)

My name is John, I am 36

In [83]:
# reference link for more information: https://www.w3schools.com/python/python_strings.asp

# List indexing

In [87]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:6]) # Python index starts with 0

['cherry', 'orange', 'kiwi', 'melon']

In [88]:
print(thislist[:4]) #gives first four elements

['apple', 'banana', 'cherry', 'orange']

In [90]:
print(thislist[3:]) #shows list elements from 3 position

['orange', 'kiwi', 'melon', 'mango']

In [91]:
print(thislist[-3])

kiwi

In [93]:
print(thislist[-6:-3])

['banana', 'cherry', 'orange']

In [94]:
print(thislist[-2:])

['melon', 'mango']

In [95]:
print(thislist[:-2])

['apple', 'banana', 'cherry', 'orange', 'kiwi']

# Python if else

In [97]:
a = 5
b = 10

if a>b:
    print("a is greater than b")
else:
    print("a is not greater than b")

a is not greater than b

In [112]:
if 1 == 2:
    print("first")
elif 3 == 3:
    print("middle")
else:
    print("last")

middle

# for loop

In [113]:
a = [1,2,5,6]

for x in a:
    print(x)

1
2
5
6

In [105]:
a = [1,2,3,4,5]
b = [11,12,13,14,15]

for x in a:
    for y in b:
        print(x,y)

1 11
1 12
1 13
1 14
1 15
2 11
2 12
2 13
2 14
2 15
3 11
3 12
3 13
3 14
3 15
4 11
4 12
4 13
4 14
4 15
5 11
5 12
5 13
5 14
5 15

In [114]:
for i in range(5):
    print(i)

0
1
2
3
4

In [115]:
x = [1,2,3,4]

In [121]:
[i**2 for i in x]

[1, 4, 9, 16]

In [124]:
[i % 2 for i in x]

[1, 0, 1, 0]

In [129]:
# finding even number from list
for i in x:
    if i % 2 == 0:
        print(i)

2
4

In [130]:
# finding odd and even number from list
for i in x:
    if i % 2 == 0:
        print("even")
    else:
        print("odd")

odd
even
odd
even

# list comprehension
""" List comprehensions provide a concise way to create lists. It consists of brackets containing an expression followed by a for clause, then zero or more for or if clauses. The expressions can be anything, meaning you can put in all kinds of objects in lists """

In [131]:
x = [10,20,30,40]

In [132]:
out = []

for item in x:
    out.append(item**2)
print(out)

[100, 400, 900, 1600]

In [11]:
# by using list comprehension
x = [10,11,12,13,14,15,16]
y = [i**2 for i in x]
y

[100, 121, 144, 169, 196, 225, 256]

In [2]:
s = [x**3 for x in range(10)]
s

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [5]:
v = [4**i for i in range(10)]
v

[1, 4, 16, 64, 256, 1024, 4096, 16384, 65536, 262144]

In [7]:
m = [x for x in s if x%2==0]
m

[0, 8, 64, 216, 512]

# Functions

In [14]:
def odd_even(x):
    if x%2==0:
        print("Even")
    else:
        print("odd")

In [28]:
odd_even(10)
odd_even(5)

Even
odd

# Lambda

In [42]:
g = lambda x:x**2

In [43]:
print(g(4))

16

In [45]:
# lambda with filter
li = [4,10,15,60]
list(filter(lambda x: x%2==0,li)) #filters the even numbers

[4, 10, 60]

In [46]:
# lambda with map
list(map(lambda x: x*2,li)) #squares each element of the list

[8, 20, 30, 120]